body {
  font-family: "Karla", sans-serif;
  font-size: 16px;
}

.container {
  background-color: #e5eff5;
  padding: 10rem;
}

/*div styling*/
.join-div {
  background: white;
  border-radius: 10px 10px 0 0;
  border-bottom: 0;
  box-shadow: 5px 0 5px 5px hsl(204, 43%, 93%);
  line-height: 1.5;
  margin-left: 150px;
  width: 30rem;
  padding: 1rem;
  padding-left: 1rem;
}

.join-div {
  color: #2ab2af;
}

.join-div h4 {
  color: #c0df34;
}

.join-div p {
  color: #98a6bd;
}

.sub-div {
  background: #2ab2af;
  border-radius: 0 0 0 10px;
  margin-left: 150px;
  font-size: 16px;
  text-align: justify;
  color: White;
  width: 12rem;
  padding: 2rem;
}

.why-us-div {
  background: #2ab2af;
  border-radius: 0 0 10px 0;
  margin-left: 23.5rem;
  position: relative;
  bottom: 16.85rem;
  font-size: 16px;
  font-weight: lighter;
  text-align: justify;
  line-height: 0.80;
  color: white;
  width: 12rem;
  padding: 2rem;
}
