body {
  font-family: "Karla", sans-serif;
  font-size: 16px;
}

h2 {
  color: hsl(204, 43%, 93%);
}

p {
  font-weight: 400;
}

.heading {
  color: hsl(179, 62%, 43%);
  font-weight: 700;
}

.container {
  background-color: #e5eff5;
  padding: 10rem;
}

/*div styling*/
.join-div {
  background: white;
  border-radius: 10px 10px 0 0;
  border-bottom: 0;
  box-shadow: 5px 0 5px 5px hsl(204, 43%, 93%);
  line-height: 1.5;
  margin-left: 7rem;
  width: 33rem;
  padding: 2rem;
  font-weight: 700;
}

.join-div {
  color: hsl(179, 62%, 43%);
}

.join-div h4 {
  color: hsl(71, 73%, 54%);
}

.join-div p {
  color: hsl(218, 22%, 67%);
}

.sub-why-div {
  display: flex;
}

.sub-div {
  background: hsl(179, 62%, 40%);
  border-radius: 0 0 0 10px;
  margin-left: 7rem;
  font-size: 16px;
  text-align: justify;
  color: hsl(204, 43%, 93%);
  width: 14.5rem;
  padding: 2rem;
}

.why-us-div {
  background: hsl(179, 62%, 43%);
  border-radius: 0 0 10px 0;
  position: relative;
  font-size: 16px;
  text-align: justify;
  line-height: 0.80;
  color: hsl(204, 43%, 85%);
  width: 14.5rem;
  padding: 2rem;
}

.btn {
  -webkit-border-radius: 10px;
  -moz-border-radius: 7px;
  border-radius: 10px;
  height: 10px;
  line-height: 1px;
  color: #FFFFFF;
  font-family: "karla", sans-serif;
  width: 240px;
  font-size: 16px;
  font-weight: 600;
  padding: 1.3rem;
  background-color: #C0DF34;
  border: solid #2AB2AF 2px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  color: #2AB2AF;
  background-color: hsl(204, 43%, 85%);
}

.attribution {
  text-align: center;
  background-color: hsl(204, 43%, 93%);
}

